.team-detail-card {
  --team-detail-card-gap: 28px;
  --team-detail-card-max-width: 460px;
  --team-detail-card-info-gap: 16px;
  --team-detail-card-block-gap: 8px;
  --team-detail-card-block-info-gap: 4px;
  --team-detail-card-img-border-width: 1px;
  --team-detail-card-img-scale: 1.02;

  display: flex;
  flex-direction: column;
  gap: var(--team-detail-card-gap);
  max-width: var(--team-detail-card-max-width);
  width: 100%;
  

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--team-detail-card-info-gap);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--team-detail-card-block-gap);
  }

  &__block-info {
    display: flex;
    flex-direction: column;
    gap: var(--team-detail-card-block-info-gap);
  }

  &__img {
    border: var(--team-detail-card-img-border-width) solid
      var(--primary-color-100);
    border-radius: var(--radius-xl);
    overflow: hidden;
    aspect-ratio: 3 / 4;
    background-color: var(--gray-color-300);

    &:hover {
      img {
        scale: var(--team-detail-card-img-scale);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale var(--transition-base);
    }
  }

  @media (min-width: $desktop-breakpoint) {
    --team-detail-card-gap: #{vw(28)};
    --team-detail-card-max-width: #{vw(460)};
    --team-detail-card-info-gap: #{vw(16)};
    --team-detail-card-block-gap: #{vw(8)};
    --team-detail-card-block-info-gap: #{vw(4)};
    --team-detail-card-img-border-width: #{vw(1)};
    --team-detail-card-img-scale: 1.02;
  }

  @media (max-width: $lg-breakpoint) {
    --team-detail-card-block-gap: 20px;
    --team-detail-card-max-width: 100%;

    &__img {
      display: none;
    }
  }
}
