.review-card {
  --review-card-padding: 24px;
  --review-card-border-width: 1px;
  --review-card-gap: 20px;
  --review-card-top-gap: 16px;
  --review-card-icon-size: 56px;
  --review-card-icon-border-width: 2px;
  --review-card-block-gap: 2px;
  --review-card-content-gap: 10px;
  --review-card-textbox-gap: 6px;

  padding: var(--review-card-padding);
  border: var(--review-card-border-width) solid var(--primary-color-140);
  background-color: var(--dark-color-300);
  display: flex;
  flex-direction: column;
  gap: var(--review-card-gap);
  border-radius: var(--radius-xl);
  line-height: var(--line-height-relaxed);
  height: 100%;

  &__top {
    display: flex;
    align-items: center;
    gap: var(--review-card-top-gap);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border: var(--review-card-icon-border-width) solid var(--primary-color-140);
    background-color: var(--dark-color-200);
    color: var(--primary-color-100);
    font-family: var(--font-family-second);
    font-size: var(--font-size-base);
    border-radius: 50%;
    width: var(--review-card-icon-size);
    height: var(--review-card-icon-size);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--review-card-block-gap);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--review-card-content-gap);
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    gap: var(--review-card-textbox-gap);
    color: var(--primary-color-300);
    font-family: var(--font-family-second);
  }

  @media (min-width: $desktop-breakpoint) {
    --review-card-padding: #{vw(24)};
    --review-card-border-width: #{vw(1)};
    --review-card-gap: #{vw(20)};
    --review-card-top-gap: #{vw(16)};
    --review-card-icon-size: #{vw(56)};
    --review-card-icon-border-width: #{vw(2)};
    --review-card-block-gap: #{vw(2)};
    --review-card-content-gap: #{vw(10)};
    --review-card-textbox-gap: #{vw(6)};
  }
}
